extends base

block content
	block content
	p Hi #{name},
	p Forgot your password? Click the link below to reset your password!
	a #{url}
	p If you didn't forget your password, please ignore this email!